<div class="container-fluid">
  <nav class="navbar navbar-toggleable-md fixed-top main-menu">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-uppercase" href="#header">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <section id="header" class="header">
    <div class="parallax-background"></div>
    <div id="large-header" class="parallax-overlay">
      <canvas id="dot-canvas" class="hidden-md-down"></canvas>
      <div class="header-table">
        <div class="header-title">
          <%= image_tag("cob.png", height: "150", width: "75", style: "display: inline") %>
          <h1 class="display-4 shrink">L4r1k-Blog</h1>
          <p class="muted">under construction..</p>
          <br>
          <a class="btn btn-outline-primary text-uppercase" href="#stream">Explore</a>
        </div>
      </div>
    </div>
  </section>
</div>
