<div class="container-fluid">
  <section id="header" class="header">
    <div class="parallax-background"></div>
    <div id="large-header" class="parallax-overlay">
      <canvas id="dot-canvas" class="hidden-md-down"></canvas>
      <div class="header-table">
        <div class="header-title">
          <h1 class="display-4 shrink">L4r1k-Blog</h1>
          <div id="typing-node"></div>
          <br>
        </div>
      </div>
    </div>
  </section>
</div>

<%= javascript_pack_tag 'typing' %>
