@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v7/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTceHuglUR2dhBxWD-q_ehMME.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html,body {
  height: 100% !important;
  min-height: 100% !important;
}

.container-fluid {
  height: 100% !important;
  min-height: 100% !important;
  padding: 0;
}

#landing-top {
  height: 335px;
  border-bottom: 1px solid #313335;
  position: relative;
}

#landing-top #header-container {
  position: absolute;
  width: 100%;
  background-position: center center;
  height: 335px;
}

.parallax-background {
  width: 100% !important;
  height: 100%;
  min-height: 100%;
  position: absolute;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-image: url("../images/keyboard.JPG");
  background-position: center center;
  background-attachment: scroll;
}

// #large-header is used by animation code. height is set in JS
.parallax-overlay {
  border-bottom: 1px solid rgba(0, 49, 62, 0.9);
  background-color: rgba(8, 13, 19, 0.9);
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 1;
  position: relative;
}

#dot-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width:100%;
  height:100%;
}

.header-table {
  display: table;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  //background-color: rgba(8, 13, 19, 0.7);
}

.header-title {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  color: #00e1ff;
}

.btn-outline-primary {
  color: #00e1ff;
  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  background-image: none;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: rgba(0, 130, 164, 0.8);
  border-color: white;
}

.btn-outline-primary:focus {
  color: #00e1ff;
  background-color: transparent;
  border-color: white;
}

.section-box {
  border-bottom: 1px solid rgba(0, 49, 62, 0.9);
  //background-color: #000000;
  text-align: center;
}

.section-title {
  padding-top: 80px;
  font-family: 'Orbitron', sans-serif;
  color: #00e1ff;
}

.top-padded {
  padding-bottom: 0px;
  padding-top: 200px;
}

.bottom-padded {
  padding-bottom: 100px;
}

.wiring {
  background-image: url("../images/keyboard.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(8, 13, 19, 0.9);
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 1;
  position: relative;
}

.section-content {
  padding-top: 50px;
  padding-bottom: 70px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: #919699;
}

.section-content h5 {
  font-family: 'Titillium Web', sans-serif;
  //color: #00e1ff;
  font-weight: 900;
}

.box-anim {
  //background-color: #1c3045;
}

h2 {
  padding-top: 40px;
  //padding-bottom: 30px;
  font-family: 'Titillium Web', sans-serif;
}

ul, li {
  list-style: none;
}

#landing-footer {
  padding: 30px 0;
  background-color: #171717;
}

#landing-footer .social-networks > li {
  display: inline-block;
  line-height: 1;
}

#landing-footer .social-networks > li a {
  display: inline-block;
  color: #a4ecff;
  background-color: rgba(0, 49, 62, 0.9);
  line-height: 24px;
  text-align: center;
  font-size: 24px;
  margin-right: 3px;
  padding: 6px;
  width: 36px;
  text-decoration: none;
  cursor: pointer;
  will-change: color;
}

#landing-footer .social-networks > li a:hover {
  color: white;
}

@media (max-width: 767px) {
  .shrink {
    font-size: 40px;
  }
}

body {
  background-color: #1d1d1d;
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

// Box Shit
.box {
  width: 320px;
  height: 240px;
  position: relative;
  background: rgba(255,255,255,1);
  display: inline-block;
  margin: 0 -15px;
  cursor: pointer;
  color: #2c3e50;
  box-shadow: inset 0 0 0 3px #2c3e50;
  -webkit-transition: background 0.4s 0.5s;
  transition: background 0.4s 0.5s;
}

.box svg {
  position: absolute;
  top: 0;
  left: 0;
  //background-image: url("https://github.com/L4r1k.png");
  background-size: 100%;
}

.box-anim .box:hover {
  background: rgba(0,0,0,0.4);
}

.box-anim .box {
  background: rgba(0,0,0,0);
  color: #fff;
  box-shadow: none;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.box:hover {
  background: rgba(255,255,255,0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.box:hover svg line {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.box svg line {
  stroke-width: 5;
  stroke: rgba(0, 73, 89, 0.9);
  fill: none;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.box-anim .box svg line {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.box-anim .box:hover svg line {
  stroke-width: 5;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.box:hover svg line.top {
  -webkit-transform: translateX(-320px);
  transform: translateX(-320px);
}

.box svg line.top, .box svg line.bottom {
  stroke-dasharray: 320 0 40 240;
}

.box:hover svg line.bottom {
  -webkit-transform: translateX(320px);
  transform: translateX(320px);
}

.box:hover svg line.left {
  -webkit-transform: translateY(-240px);
  transform: translateY(-240px);
}

.box svg line.left, .box svg line.right {
  stroke-dasharray: 240 0 40 160;
}

.box:hover svg line.right {
  -webkit-transform: translateY(240px);
  transform: translateY(240px);
}

hr {
  border-top: 2px solid rgba(0, 73, 89, 0.9);
  width: 20%;
}